body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.344);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm {
    margin: 20px;
}

#cityName {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid;
    border-radius: 10px;
    margin: 10px;
    width: 300px;

}


button[type = "submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: rgb(0, 108, 0);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button[type= "submit"]:hover {
    background-color: rgb(1, 170, 1);
}



.card {
    background: linear-gradient(180deg, rgb(61, 61, 255), orange);
    padding: 50px;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem;
    margin: 5px, 0;
}
.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.779);
    margin-bottom: 25px;
}

.humidityDisplay {
    font-weight: bold;
    margin-bottom: 25px;
}

.descriptionDisplay {
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}
.weatherEmoji {
    margin: 0;
    font-size: 7.5rem;
}
.errorDisplay {
    font-size: 2.5rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.479);
}
