body {
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-color: rgb(198, 198, 198);
}


#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 60px;
    max-width: 500px;
    overflow: hidden;
    box-shadow: 5px 5px 50px 17px rgba(0, 0, 0, 0.314);
}

#myText {
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    font-size: 4rem;
    border: none;
    color: white;
    background-color: rgba(73, 73, 73, 0.801);
    font-family: monospace;
}




#allButtons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 7px;
    padding: 30px;
}

button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgba(73, 73, 73, 0.801);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transition: 200ms;
}


button:hover {
    background-color: rgb(73, 73, 73);
    
}

button:active {
    background-color: rgb(102, 102, 102); 
}


.operatorBtn {
    background-color: orange;
}

.operatorBtn:hover {
    background-color: rgb(250, 177, 42); 
}

.operatorBtn:active {
        background-color: rgb(255, 187, 60);
}